@charset "UTF-8";

* {
    font-family:  Georgia,'Times New Roman',times,serif;
}

body {
    font-size: 1.1em;
    vertical-align: baseline;
    margin: 0;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
    /* CSS3 */
    box-shadow: 0 0 6px #222222;
    -moz-box-shadow: 0 0 6px #222222;
    -webkit-box-shadow: 0 0 6px #222222;
}

#header {
    width: 100%;
    min-height: 100px;
    background-color: #7A764A;
    color: #CCC9AD;
}

#header h1 {
    /* CSS3 */
    text-shadow: -1px 2px 2px #403F36;
    padding: 0;
    margin: 0 0 0 10px;
}

#nav {
    width: 100%;
    min-height: 30px;
    background-color: #CCC9AD;
}

#nav ul {
    padding: 0;
    margin: 0 0 0 10px;
    list-style: none;
}

#nav li {
    margin: 0;
    float: left;
}

#nav li a {
    display: block;
    width: 100px;
    line-height: 30px;
    text-decoration: none;
    color: #333333;
}

#nav li a:hover {
    color: #CCC9AD;
    background-color: #7A764A;
}

#content-wrapper {
    position: relative;
}

#left-col, #right-col, #mid-col {
    min-height: 500px;
    height:auto !important;
    height:500px;
}

#left-col {
    width: 250px;
    float: left;
}

#left-col ul {
    padding: 0;
    margin: 0 0 0 17px;
    list-style: none;
}

#left-col li {
    padding: 0;
    margin: 3px 0;
}

#left-col li a {
    text-decoration: none;
}

#left-col li a:hover {
    text-decoration: underline;
}

#right-col {
    width: 650px;
    float: right;
}

#mid-col {
    width: 100%;
}

#footer {
    clear: both;
    height: 30px;
    background-color: #403F36;
    color: #c3c3c3;
}

#footer p {
    margin: 0 10px;
    font-size: 0.8em;
    text-align: right;
    line-height: 30px;
}

.clear-both {
    clear: both;
}

#codeigniter_profiler {
    font-family: 'Courier New',Courier,monospace;
    font-size: 12px;
}