@charset "UTF-8";
/* CSS Document */

body{ background:#FFF; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-weight:lighter; }

.clear_both{clear:both;}

ul,li{list-style:none; padding:0; margin:0;}

#header{height:80px; background:#F1EFF1; padding:20px;}

#nav{background:#A8115C; height:30px; margin:-16px 0 0 0;}

#nav li{float:left; padding:0 20px 0 20px; line-height:30px; text-align:center; font-size:14px;}

#nav li a{color:#FFF; text-decoration:none;}

#nav li a:hover{text-decoration:underline;}

#left-col, #right-col, #mid-col{padding:20px;}

#footer{height:30px; background:#A8115C;}

#footer p{color:#FFF;}

h1, h2{color:#312D2D;}

h2{font-size:18px;}